* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin: 0;
    background-color: #f8fafc;
    text-align: center;
}

#Home {
    text-align: left;
    font-size: 40px;
    margin: 180px;
    display: flex;

}

#About {
    font-size: 30px;
    text-align: center;
    margin: 110px;
}

#Skills {
    font-size: 40px;
    margin: 230px;
}

#Project {
    margin: 70px;
}

#Contact {
    margin: 250px;
    font-size: 30px;
}

 .nav {
    display: flex;
    justify-content: right;
    align-items: right;

    background-color: #1e293b;
    position: sticky;
    top: 0;
     padding: 10px;
     } 

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 20px;
    font-size: 20px;



}

.skills ul {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}


a {
    text-decoration: none;

}



ul li a {
    color: white;

}

 a:hover {
    background-color: #2563eb;
    color: black;
}

.home-img {
    border-radius: 50%;
    text-align: right;

}

.home-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}




h2 {
    text-align: center;
    font-size: 40px;
    color: #1e293b;
    margin-bottom: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


.project {
    color: rgb(74, 54, 54);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1e293b;
    color: white;
}




.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.card {
    background: rgb(0, 0, 0);
    color: white;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.card:hover {
    background-color: grey;
}

img {
    max-width: 100%;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

body {
    background-color: #98cbfd;
    color: #1e293b;
    text-align: center;
}

h2 {
    font-size: 65px;
}